@font-face {
  font-family: 'IBMPlexBold';
  src: url('fonts/IBMPlexSans-Bold.ttf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'IBMPlexRegular';
  src: url('fonts/IBMPlexSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMonoRegular';
  src: url('fonts/IBMPlexMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBMPlexRegular', sans-serif;
}

code {
  font-family: 'IBMPlexMonoRegular', monospace;
}
